body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.image {
  height: 5%;
  z-index: 5;
  position: absolute
}

.column {
  box-sizing: border-box;
  float: center;
  width: 33.33%;
}

.row::after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both
}


.image2 {

  height: 100%;
  z-index: 3;
  position: relative;
  object-fit: cover;
  width: 100%
}

.content {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  width: 100%;
  height: 33%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fade-in 3s;
  opacity: 0;
  z-index: 4
}

.word {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 6
}

.size {
  font-size: 62px;
}



.homebutton {
  font-size: 50px;

  color: white;
}

.homebutton2 {
  background-color: rgba(0,0,0,0.3);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.content2 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  width: 100%;
  height: 33%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fade-in2 6s;
  opacity: 0;
  z-index: 4
}

@keyframes fade-in2 {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.content3 {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  width: 100%;
  height: 33%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fade-in3 9s;
  opacity: 1;
  z-index: 4
}

@keyframes fade-in3 {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.navAbsolute {
  position: absolute
}

.overlay {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 33.33%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5
}

.navbar {
  z-index: 5;
}

.homebutton {
  left: 50%;
}

::-webkit-scrollbar {
  width: 0px;
}